* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



body {
    margin: 20px;
}
.marquee {
  height: 25px;
  width: 600px;
  color: white;
  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 20s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

body{
    font-family : roboto, sans-serif, arial;
    font-size : 16px;

    color :#242424
}

.container{
    width: 1300px;
    margin: 0px auto;
}

.header{
    background: #0055a4;
    padding: 6px;
}

.header b{
    background: #fff;
    color: red;
    padding: 10px;
    font-size : 20px;
}


.logo{
    height: 65px;
}


nav {
    float : right;
    padding: 25px 0px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 2px 10px;
    font-weight: 500;
}

.slider img{
    width :100%;

}

.bg-color{
    background: #f0f3fa;
}

.main-section{
    width: 100;
    float: left;
    padding: 100px 0px 100px 0px;

}

.event {
    width: 32%;
    margin-right: 1%;
    float: left;
    background: white;

}

.event i{
    color: red;
    font-size: 14px;
}

.event .heading{
    padding: 10px;
    color:white;
    background: #0055a4;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.Academic-news span {
    width: 80px;
    float: left;
}

.Academic-news h2{
    font-weight: 600;
    font-size: 16px;
}

.Academic-news h6{
    font-weight: 500;
    font-size: 13px;
    color: red;
}

.Academic-news p{
    font-size: 14px;
}

.event-date {
    background: red;
    float: left;
    text-align: center;
    font-size: 14px;
    color:white;
    padding: 8px 12px;
    margin-right:10px;
}


.heading{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #0055a4;

}

.subhead{
    font-size: 18px;
    color: red;
    font-weight: 500;
}

.about-us div{
    width:45%;
    float: left;
    line-height: 30px;
    font-size: 18px;

}
.about-us h4{
    font-size: 18px;
    color: red;
    font-weight: 500;

}
.about-us p{
    font-size: 16px;
    margin-bottom: 20px;
    padding-right: 30px;
    line-height: 23px;
}

.about-us img{
    width: 40%;
    float: left;
}

.award p{
    width: 100;
    float:left;
    font-size: 16px;

}
.award img {
    width: 100%;

}

.award b{
    min-width: 115px;
    float: left;
    margin-bottom: 20px;

}

.award h3{
    font-size: 23px;
    margin-bottom: 20px;
    text-align: center;

}

.chairman img{
    width: 150px;
    float: left;
    margin-right: 10px;

}

.chairman h2{
    font-size: 22px;
    margin-top: 30px;

}
.chairman h4{
    font-size: 16px;
    color: red;
    font-weight: 400;
}

.testimonial{
    width:30.5%;
    float:left;
    margin-right: 2.5%;

}
.testimonial-text{
    background: #0055a40f;
    padding: 20px;
    line-height: 35px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #0055a4;
}

.testimonial-detail{
    float:left;
    margin-top: 10px;

}

.testimonial-name{
    margin-left: 10px;
    float: left;
}
.testimonial-name h5{
    font-size: 18px;
    margin-top: 8px;

}
.testimonial-img{
    float: left;

}

.gallery img{
    width: 23.2%;
    margin-right: 1.5%;
    margin-bottom: 20px;
}

.footer{
    background: #f0f3fa;
    padding: 40px 0px;
    width:100;
    float:left;
}
.footer-logo{
    height: 70px;
    width:auto;
}
.footer-sect{
    width:100%;
    float: left;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

.panel-heading {
    padding: 10px 15px;
    margin: -15px -15px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #dddddd;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
style attribute {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: #1bd7cc solid 1px;
    height: 245px;
}
